.lobby-root {
    flex: 1;
    align-items: center;
    justify-content: center;
}

.lobby-title {
    font-size: 32px;
    color: white;
    margin-bottom: 32px;
}

.play-button {
    margin: 8px;
    width: 200px;
}
