.game-root {
    flex: 1;
    align-items: center;
    justify-content: center;
}

.reading-cue {
    font-size: 32px;
    color: white;
    align-self: flex-start;
    margin-bottom: 32px;
}

.players-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 16px;
}

.player-dashboard {
    align-items: center;
    padding: 8px 16px;
    margin: 4px;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
}

.player-dashboard__name {
    font-size: 16px;
    color: white;
}

.player-dashboard__score {
    font-size: 16px;
    color: white;
}

.player-dashboard__penalty {
    font-size: 16px;
    color: red;
}

.card-field {
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}
