.game-root {
    flex: 1;
    align-items: center;
    justify-content: center;
}

.reading-cue {
    font-size: 32px;
    color: white;
    align-self: flex-start;
    margin-bottom: 32px;
}

.players-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 16px;
}

.card-field {
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}
